# Log files
*.log

# bin
tools/bin/*

# generated content
**/*.abi
**/*.bin
generated/

# misc
.DS_Store
.envrc
.env*
.dbenv
.direnv
.idea
.vscode/
*.iml

debug.env
*.txt
operator_ui/install
.devenv

# codeship
*.aes
dockercfg
env
credentials.env
gcr_creds.env

# Test & linter reports
*report.xml
*report.json
*.out
dot_graphs/


# Ignore DevSpace cache and log folder
.devspace/
go.work*
